@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  /*+++++++++++++++++++++++++ HEADER +++++++++++++++++++++++++*/

  .header-logo {
    margin-right: 76px;
  }
  .header-item:not(:last-child) {
    margin-right: 40px;
  }
  .header-item-address:not(:last-child) {
    margin-right: 40px;
  }
  .header-list-address {
    display: flex;
  }

  /*+++++++++++++++++++++++++ HERO +++++++++++++++++++++++++*/

  .hero {
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
    text-align: center;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero-bg-desktop1x.jpg");
    background-size: auto;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/hero-bg-desktop2x-min.jpg");
    }
  }

  .hero-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 48px;
  }

  /* ++++++++++++++++++++++++++ MODAL ++++++++++++++++++++ */
  .modal {
    width: 392px;
    height: 584px;
  }
  .customers-list {
    flex-wrap: nowrap;
  }
  .customers-item:last-child {
    margin-right: 0;
  }
  .customers-item {
    margin-bottom: 0;
  }

  /*+++++++++++++++++++++++++ TEAM +++++++++++++++++++++++++*/

  .team-list {
    flex-wrap: nowrap;
  }
  .team-item {
    width: calc((100% - 24px) / 2);
    margin-bottom: 0;
  }

  /*+++++++++++++++++++++++++ ADVANTAGES +++++++++++++++++++++++++*/

  .advntg-container {
  }
  .advntg-list {
  }
  .advntg-item {
    width: calc((100% - 72px) / 4);
    margin-bottom: 0;
  }
  .advntg-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .advntg-box {
    display: flex;
    background-color: rgba(244, 244, 253, 1);
    width: 264px;
    height: 112px;
    justify-content: center;
    align-items: center;
    justify-items: center;
  }
  .advntg-svg-item {
    width: 64px;
    height: 64px;
  }
  .advntg-svg-icon {
  }

  /*+++++++++++++++++++++++++ EXAMPLES OF WORK +++++++++++++++++++++++++*/

  .exm {
    display: flex;
    padding-bottom: 120px;
  }
  .exm-title {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
  }
  .exm-list {
    display: flex;
  }
  .exm-item:not(:last-child) {
    margin-right: 24px;
  }

  /*+++++++++++++++++++++++++ FOOTER +++++++++++++++++++++++++*/

  .footer {
    background-color: var(--headers-color);
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .footer-container {
    display: flex;
    flex-direction: row;
    width: auto;
    align-items: baseline;
  }

  .footer-logo {
    color: var(--text-for-logofooter-bg-ourteam-color);
    text-decoration: none;
    text-transform: uppercase;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.33;
    letter-spacing: 0.03px;
    max-width: 50px;
  }
  .footer-logo span {
    color: var(--logo-button-color);
    text-decoration: none;
  }
  .footer-t {
    display: block;
    width: 264px;
    margin-top: 16px;
    color: var(--text-for-pfooter-secondsection-color);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .social-box {
    margin-left: 120px;
    margin-right: 80px;
  }
  .footer-p {
    display: block;
    text-align: left;
    margin-top: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
  }

  .footer-box-with-frm {
    margin-top: 0;
  }
  .footer-frm {
    display: flex;
    margin-top: 16px;
  }
  .inpt-footer-email {
    padding-left: 15px;
    width: 263px;
    height: 40px;
    background-color: inherit;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    box-shadow: 0px, 4px rgba(0, 0, 0, 0.15);
    color: var(--hero-text-color);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .inpt-footer-email:focus {
    outline: none;
    border-color: #4d5ae5;
  }
  .inpt-footer-email::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
  }
  .btn-submit {
    display: flex;
    align-items: center;
    min-height: 40px;
    min-width: 165px;
    margin-left: 24px;
    padding: 8px 24px;
    border-radius: 4px;
    text-align: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: var(--logo-button-color);
    color: var(--hero-text-color);
    box-shadow: 0 4px 4px 0 15px rgb(0, 0, 0, 25%);
    border: 1px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .btn-subscribe-icon {
    width: 24px;
    height: 24px;
    fill: var(--hero-text-color);
    margin-left: 16px;
  }

  /*+++++++++++++++++++++++++ PORTFOLIO +++++++++++++++++++++++++*/

  /* .smain {
  padding-top: 96px;
  padding-bottom: 120 px;
}
.smain-title-hidden {
  position: absolute;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  width: 1px;
}
.smain-list {
  justify-content: center;
  display: flex;
  margin-bottom: 72px;
}
.smain-list-item {
  margin-right: 24px;
}

.smain-button {
  min-width: 69px;
  min-height: 48px;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--text-for-logofooter-bg-ourteam-color);
  color: var(--logo-button-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.smain-button:hover,
.smain-button:active,
.smain-button:focus {
  background-color: var(--hoover-color);
  color: var(--hero-text-color);
  box-shadow: 0 1px 6px 0 rgba(0, 2, 02, 0.12);
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.1);
}
.smain-list-examples {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.cards {
  padding: 32px 16px;
  width: 360px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}
.smain-item {
  width: 360px;
  display: flex;
  flex-wrap: wrap;
}
.smain-item:nth-last-child(-n + 3) {
  padding-bottom: 120px;
}
.smain-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.smain-p {
  margin-top: 8px;
  color: var(--text-for-p-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
}
.smain-link {
  text-decoration: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.smain-link:visited {
  color: inherit;
}
.smain-link:hover {
  box-shadow: 0 1px 6px 0 rgb(46, 47, 66, 8%);
  box-shadow: 0 1px 1px 0 rgb(46, 47, 66, 16%);
  box-shadow: 0 2px 1px 0 rgb(46, 47, 66, 8%);
}
.smain-item-img-wrapper {
  position: relative;
  overflow: hidden;
}
.smain-link:hover .overlay,
.smain-link:focus .overlay {
  transform: translate(0, 0);
}
.overlay {
  transform: translate(0, 100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: var(--logo-button-color);
  font-size: 15px;
  padding-top: 40px;
  padding-right: 32px;
  padding-left: 32px;
  width: 100%;
  height: 100%;
  color: var(--text-for-logofooter-bg-ourteam-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02px;
  overflow: auto;
} */
}
