@media screen and (min-width: 428px) {
  .container {
    max-width: 428px;
    margin: 0 auto;
  }

  .advntg-box {
    display: none;
  }
  .modal {
    width: 392px;
    height: 586px;
  }
  .mobile-address-item {
    font-size: 36px;
    line-height: 1.1;
  }
  .menu-social-list {
    display: flex;
    gap: 56px;
  }
}
